

section(data-notes=notes)
  img(src="img/jhonesio.png" alt="")
  p.
   <span class='red'>Face</span> @jhones.io1
  p.
   <span class='red'>Twitter</span> @jhones_io
  p.
   <span class='red'>Instagram</span> @jhones.io


