section
  section
    h2 Module
    p  O proposito do module é declarar cada coisa que você criar no angular, e agrupar como o "namespace".
    img(src="https://media.giphy.com/media/3o7WIE14z2d66BJWJa/giphy.gif", alt="")
  section
    h1 Porque modularizar?
    ul
      li.fragment organização
      li.fragment dividir responsabilidade
      li.fragment menor acoplamento
      li.fragment legibilidade

      