doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/1-capa
        include ../slides/2-whoami
        include ../slides/3-jhonesio
        include ../slides/4-module
        include ../slides/5-code-module
        include ../slides/6-lazy-loading
        include ../slides/7-code-lazy-loading
        include ../slides/8-demo
        include ../slides/9-done
    include inc/scripts
